@{
    ViewData["Title"] = "Register Page";
}

<div class="auth-wrapper">
    <div class="auth d-flex justify-content-center align-items-center flex-column">
        <h3>Sign up</h3>
        <form>
            <input id="first_name"
                   type="text"
                   placeholder="First name"
                   autocomplete="off"
                   required />
            <input id="last_name"
                   type="text"
                   placeholder="Last name"
                   autocomplete="off"
                   required />
            <input id="username"
                   type="text"
                   placeholder="Username"
                   autocomplete="off"
                   required />
            <input id="email"
                   type="email"
                   placeholder="Email"
                   autocomplete="off"
                   required />
            <input id="password"
                   type="password"
                   placeholder="Password"
                   required
                   maxlength="8" />
            <input type="submit" value="Sign up" />
        </form>
    </div>
</div>

<style>
    auth-wrapper {
        min-height: calc(100vh - 120px);
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .auth {
        padding: 50px;
        width: 500px;
        box-shadow: 0 0 2px 1px #f1f1f1;
        margin: 35px auto 25px auto;
        color: white;
        border-radius: 15px;
    }

        .auth input[type="text"], .auth input[type="password"], .auth input[type="submit"], .auth input[type="email"] {
            display: block;
            padding: 10px;
            margin: 15px auto;
            min-width: 250px;
        }

        .auth input[type="submit"] {
            background-color: cornflowerblue;
            color: white;
        }

            .auth input[type="submit"]:hover {
                opacity: 0.9;
            }

        .auth span {
            margin-bottom: 30px;
        }
</style>